.chatToolsBarDiv {
    display: flex;
    align-items: center;
    background-color:slategray;
    height: 4em;
    padding: 0 1.5em;
    overflow: visible;
}

.chatToolsBarTitle {
    font-size: 1.5em;
    color: white;
    flex: 1;
}

.chatToolsBarBtn {
    outline: none;
    border: none;
    background-color: transparent;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    /* right: calc(-100% + 2.5em); */
}

.chatToolsBarBtn:hover {
    background-color: hsl(210, 13%, 60%);
}

.chatToolsBarBtn:active {
    background-color: hsl(210, 13%, 70%);
}

.chatToolsBarBtn:disabled {
    background-color: hsl(210, 13%, 70%);
}

.toolBarIcon {
    font-size: 4em;
    color: white;
    position: relative;
}

.chatToolsBarBtnContainer {
    position: relative;
    overflow: visible;
}

.toolBarIconProfile {
    font-size: 2.4em;
    color: white;
    position: relative;
}