.chatHead {
    display: flex;
    width: 100%;
    height: 4em;
    border: 0px;
    border-bottom: 0.1em solid lightgrey;
    line-height: 3em;
    align-items: center;
}

.chatHead:hover {
    background-color: rgb(230, 230, 230);
}

.chatHead:active {
    background-color: rgb(250, 250, 250);
}

.chatHead:focus {
    background-color: rgb(220, 220, 220);
    outline: none;
}

.profilePic {
    height: 2.6em;
    border-radius: 50%;
    margin: 0.2em 0.8em;
    padding: 0;
}
