.message {
    background-color: hsl(32, 78%, 82%);
    padding: 1em;
    margin: 1em 0.5em;
    border-radius: 10px;
    max-width: 60%;
    min-width: 20%;
    font-size: 0.9em;
    box-shadow: 0px 0px 0.4em grey;
	position: relative;
	overflow: visible;
}

.time {
    text-align: right;
    font-size: 0.85em;
}

.container {
    width: 100%;
    display: inline-block;
	overflow: visible;
}

.right {
    float: right;
    background-color:hsl(30, 60%, 94%);
}

.left {
    float: left;
}

span.emoji {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: baseline;
	width: 1.5em;
	height: 1.5em;
	background-size: 1em;
	background-repeat: no-repeat;
	text-indent: -9999px;
	background-position: 50%, 50%;
	background-size: contain;
}

span.emoji-sizer {
	line-height: 0.81em;
	font-size: 1em;
 	margin: -2px 0;
}

span.emoji-outer {
	display: -moz-inline-box;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}

span.emoji-inner {
	display: -moz-inline-box;
	display: inline-block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
	vertical-align: baseline;
}

img.emoji {
	width: 1em;
	height: 1em;
}

.messageMenuBtn {
	font-size: 0.7em;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	background-color: inherit;
	position: absolute;
	right: 10px;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message:hover .messageMenuBtn {
	/* background-color: hsl(31, 69%, 88%); */
	visibility: visible;
}

/* .message:hover .messageMenuBtn:hover {
	background-color: hsl(30, 60%, 94%);
}

.message:hover .messageMenuBtn:active {
	background-color: hsl(0, 0%, 100%);
}

.right.message:hover .messageMenuBtn:hover {
	background-color: hsl(32, 78%, 82%);
}

.right.message:hover .messageMenuBtn:active {
	background-color: #f7c78d;
} */

.messageMenu {
	background-color: hsl(0, 0%, 96%);
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 2.4em;
	justify-content: center;
	z-index: 1;
	width: max-content;
	height: auto;
	box-shadow: 0px 0px 5px grey;
}

.messageMenu hr {
	width: 80%;
	margin: auto;
	border: none;
	border-top: 1px solid black;
}

.messageMenuItem {
	display: flex;
	padding: 0.5em 1.3em;
	align-items: center;
	justify-content: center;
}

.messageMenuItem:hover {
	background-color: hsl(0, 0%, 90%);
}