.logo {
    width: max-content;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    height: 3em;
}

.logoImg {
    height: 3em;
    display: flex;
    align-items: center;
}

.logoText {
    padding-left: 1em;
    color: inherit;
}